<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Data</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-loading [isOpen]="loader" message="Fetching....."></ion-loading>
  <ion-card *ngIf="users.length == 0">
    <ion-card-content>
      <p>No Record Data</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="users.length > 0">
    <ion-card-header>
      Data Users
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users">
          <ion-label>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="data.length == 0">
      data N0t Found 404
    </ion-card-content>
    <ion-card-content *ngIf="data.length > 0">
      Data Found Success 200 OK
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>

      <h4 slot="end">{{data}}</h4>
      <ion-button (click)="fetchData()">Fetch Data</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
