<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-tab-button slot="end">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bluetooth Devices</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list style="padding-left: 15px; padding-right: 15px;">
    <h5>Scan Bluetooth Devices</h5><br><br>
    <ion-button
      expand="block"
      [disabled]="IsScanning"
      (click)="scan()"
    >
      {{ IsScanning ? 'Scanning...' : 'Scan' }}
      <ion-icon slot="icon-only" name="bluetooth"></ion-icon>
    </ion-button>
  </ion-list>

  <ion-list *ngIf="scannedDevices.length > 0">
    <ion-list-header>Discovered Devices</ion-list-header>
    <ion-item *ngFor="let device of scannedDevices">
      <ion-label>{{ device.name || 'Unnamed Device' }}</ion-label>
      <ion-button slot="end" (click)="connect(device.deviceId)">
        Connect
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="scannedDevices.length === 0 && !IsScanning">
    <ion-item>
      <ion-label>No devices found. Please scan again.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
