<div class="ion-page">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>iOT Dashboard</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html"><i class="fa fa-dashboard"></i></a>
            </li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">IOT</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="d-flex flex-row-reverse">
            <div class="page_action">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-download"></i> Download report
              </button>
              <button type="button" class="btn btn-secondary">
                <i class="fa fa-send"></i> Send report
              </button>
            </div>
            <div class="p-2 d-flex"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix row-deck">
      <div class="col-lg col-md-6 col-sm-6">
        <div class="card number-chart">
          <div class="body">
            <span class="text-uppercase">GSR Graph</span>
            <h4 class="mb-0 mt-2">
              Current Analytics
            </h4>
          </div>
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
